<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      කෘෂිකර්මය ප්‍රශ්න
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-item>
    <ion-label>පන්තිය</ion-label>
    
    <ion-select  [(ngModel)]="grade" name="className" ngDefaultControl >
      <ion-select-option *ngFor="let class of classItems" [value]="class.id">{{class.value}}</ion-select-option>      
    </ion-select>
    
<!--
    <select class="form-control form-control-sm" [(ngModel)]="grade" name="select">
      <option *ngFor="let class of classItems" [ngValue]="class.id" >{{class.value}}</option>
    </select>
    -->

  </ion-item>



  <div id="container">
    <ion-grid>
      <ion-row text-center>
        <ion-col>
       
            <ion-card (click)="goToModelQuestions()">               
              <ion-card-header>                
                <ion-card-title>අනුමාන ප්‍රශ්න සහ පිළිතුරු</ion-card-title>
                <ion-card-subtitle>පරිච්ඡේද අනුව වර්ග කල අනුමාන ප්‍රශ්න</ion-card-subtitle>
              </ion-card-header>

            </ion-card>
     
        </ion-col>
        <ion-col>
     
            <ion-card (click)="goToPassPapers()">       
                     
              <ion-card-header>                
                <ion-card-title>පසුගිය විභාග ප්‍රශ්න පත්‍ර</ion-card-title>
                <ion-card-subtitle>2000 සිට 2018 දක්වා අ.පො.ස. සාමාන්‍යය පෙළ කෘෂිකර්මය ප්‍රශ්න පත්‍ර</ion-card-subtitle>
              </ion-card-header>

            </ion-card>
     
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--
    <strong>Ready to create an app?</strong>
    <p>This is created by <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> APP_FACTORY.LK</a></p>
      -->
  </div>
</ion-content>
